
ul {
    list-style-type: square;
}

.logo__cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: #ea5e34;
    margin-left: 5px;
    border-radius: 1px;
    animation: cursor 1s infinite
}

@media (prefers-reduced-motion: reduce) {
    .logo__cursor {
        animation: none
    }
}

@keyframes cursor {
    0% {
        opacity: 0
    }

    50% {
        opacity: 1
    }

    100% {
        opacity: 0
    }
}